#alert {
    color: red;
    font-size: 25px;
}

body {
    background-color: #3B653D;
    color: white;
}

li {
    color: white;
}

#list {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;

}

