{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'make_robots/style.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

<h1 id="header">{{ welcome }}</h1>

<head>
{% block content %}
    <div>
     <div>
        <form id="newBots" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

            <button type="submit" value="Robot">Submit</button>
        </form>
    </div>
    {% for robot in robots %}
        <form id="botlist" action="{% url 'edit_bot' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="botName" class="name" name="robot_name" value="{{ robot.name }}" hidden>
            <h3>{{ robot.name }}</h3>
            <ul>
                <input name="robot_strength" class="attributes" value="{{ robot.strength }}" type="number" hidden>Strength - {{ robot.strength }}
                </input><br>
                <input name="robot_agility" class="attributes" value="{{ robot.agility }}" type="number" hidden>Agility - {{ robot.agility }}
                </input><br>
                <input name="robot_armour" class="attributes" value="{{ robot.armour }}" type="number" hidden>Armour - {{ robot.armour }}
                </input><br>
            </ul>
            <button class="delete" type="submit" value="Delete" name="submitButton" id="Delete_{{ robot.name }}">Delete</button>
            <input type="button" class="edit" value="Edit">
            <button class="save" id="save" type="submit" value="Update" name="submitButton" hidden>Save</button>
        </form>
    {% endfor %}
    </div>

{% endblock %}
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script>
    $(document).ready(function() {
        $('.edit').click(function(){
            $('.attributes').show();
            $('.save').show();
            $('.edit').hide();
        });
       });
</script>



